<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>academy</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/maintenance.jsp</location>
    </error-page>

    <servlet>
        <servlet-name>myController</servlet-name>
        <servlet-class>by.academy.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myController</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>by.academy.controller.filter.CharsetFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <servlet-name>myController</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>by.academy.controller.filter.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>myController</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>by.academy.controller.listener.PoolInitializer</listener-class>
    </listener>
</web-app>